.path-switch ~ .products-btn {
  transform: translate(0);
}

.path-switch:checked ~ .products-btn {
  transform: translate(0, -100%);
}

.path-switch ~ .home-btn {
  transform: translate(0, 100%);
}

.path-switch:checked ~ .home-btn {
  transform: translate(0, -100%);
}
