.slider {
	transition: all ease-in-out 0.4s;
}

.nav ul li:nth-child(1):hover ~ .slider,
.nav ul li:nth-child(1).current ~ .slider {
	left: 0;
}

.nav ul li:nth-child(2):hover ~ .slider,
.nav ul li:nth-child(2).current ~ .slider {
	left: 25%;
}

.nav ul li:nth-child(3):hover ~ .slider,
.nav ul li:nth-child(3).current ~ .slider {
	left: 50%;
}

.nav ul li:nth-child(4):hover ~ .slider,
.nav ul li:nth-child(4).current ~ .slider {
	left: 75%;
}

.nav-icon {
	display: inline-block;
	position: relative;
	width: 30px;
	height: 5px;
	background-color: #ffffff;
	transition-property: background-color, transform;
	transition-duration: 300ms;
}

.nav-icon::before,
.nav-icon::after {
	content: '';
	display: block;
	width: 30px;
	height: 5px;
	position: absolute;
	background: #ffffff;
	transition-property: margin, transform;
	transition-duration: 300ms;
}

.nav-icon::before {
	margin-top: -10px;
}

.nav-icon::after {
	margin-top: 10px;
}

.switch:checked ~ header .nav-icon {
	background: rgba(0, 0, 0, 0);
	transform: rotate(135deg);
}

.switch:checked ~ header .nav-icon::before {
	margin-top: 0;
	transform: rotate(90deg);
}

.switch:checked ~ header .nav-icon::after {
	margin-top: 0;
	transform: rotate(180deg);
}

.switch ~ main {
	transform: scale(1) translateX(0);
	transition: all 300ms ease-in-out;
}

.switch:checked ~ main {
	transform: scale(0.9) translateX(-90%);
}

.side-nav {
	opacity: 0;
}

.switch:checked ~ .side-nav {
	transform: translateX(20%);
	opacity: 1;
	background: #020202;
}

.switch:checked ~ .side-media-platform {
	display: none;
}

.switch ~ .mask {
	transform: translateX(-100%);
}

.switch:checked ~ .mask {
	transform: translate(0, 0);
}
