.slider {
	transition: all ease-in-out 0.4s;
}

.nav ul li:nth-child(1):hover ~ .slider,
.nav ul li:nth-child(1).current ~ .slider {
	left: 0;
}

.nav ul li:nth-child(2):hover ~ .slider,
.nav ul li:nth-child(2).current ~ .slider {
	left: 25%;
}

.nav ul li:nth-child(3):hover ~ .slider,
.nav ul li:nth-child(3).current ~ .slider {
	left: 50%;
}

.nav ul li:nth-child(4):hover ~ .slider,
.nav ul li:nth-child(4).current ~ .slider {
	left: 75%;
}
