@property --angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

.animated-border {
  --border-width: 6px;
  --border-radius: 10px;
  --inner-border-radius: calc(var(--border-radius) - var(--border-width));
  --inner-inset-size: 4px;
  position: relative;
  border: calc(var(--border-width) + var(--inner-inset-size)) solid transparent;
  clip-path: inset(0 round var(--border-radius));
  border-image: conic-gradient(
      from var(--angle),
      #1f1f1f,
      #262626,
      #434343,
      #595959,
      #1f1f1f
    )
    1;
  animation: rotate-border 4s linear infinite;
}

@keyframes rotate-border {
  to {
    --angle: 360deg;
  }
}

.animated-border::before {
  content: '';
  position: absolute;
  z-index: -2;
  inset: calc(var(--inner-inset-size) * -1);
  background-color: var(--color-b3);
  border-radius: var(--inner-border-radius);
}

@media screen and (max-width: 768px) {
  .animated-border {
    --border-width: 3px;
  }
}
