.card {
	& svg {
		color: #fff;
	}

	& h3,
	& h4,
	& h5,
	& strong,
	& p {
		&:not(:last-child) {
			color: #fff;
		}

		&:last-child {
			color: #e6e6e6;
		}
	}

	&:hover {
		& svg {
			color: #000;
		}

		& h3,
		& h4,
		& h5,
		& strong,
		& p {
			&:not(:last-child) {
				color: #000;
			}

			&:last-child {
				color: #000;
			}
		}
	}
}
