.youtube-container {
	width: 100%;
}

.youtube-container div[data-ntpc] {
	width: 100% !important;
	height: 100% !important;
}

.youtube-container lite-youtube {
	max-width: 100%;
	width: 100%;
	height: 100%;
}
