.slogan {
  display: inline-block;
}

.slogan::first-letter {
  color: #8381ff;
}

.arrow-animate {
  animation: arrow 1s linear infinite;
}

@keyframes arrow {
  0% {
    opacity: 0.5;
    width: 80%;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}
