.track {
  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.track-animation {
  --rotate: 160deg;
  --scale: 0.5;
  --revert-rotate: calc(var(--rotate) * -1);
  --revert-scale: calc(1 / var(--scale));
  --duration: 20s;

  animation: track var(--duration) linear infinite;
}

@keyframes track {
  0% {
    transform: rotate(var(--rotate)) scaleY(var(--scale)) rotate(0);
  }
  100% {
    transform: rotate(var(--rotate)) scaleY(var(--scale)) rotate(360deg);
  }
}

.ball-animation {
  animation: ball var(--duration) linear infinite;
}

@keyframes ball {
  0% {
    transform: rotate(0) scaleY(var(--revert-scale))
      rotate(var(--revert-rotate));
  }
  100% {
    transform: rotate(-360deg) scaleY(var(--revert-scale))
      rotate(var(--revert-rotate));
  }
}
